{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>/</li>
    <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="col-lg-8">
<form class="form" method="post">
    {% csrf_token %}
    {% if success %}
    <p>A sua senha foi alterada sucesso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="">
            <button type="submit" class="btn-primary">Alterar Senha</button>
        </div>
    </fieldset>
</form>
</div>
{% endblock %}